<!doctype html>
<html>
<!-- base url for all relative urls.  -->
<base href="{%= 'http://localhost:8081' || argument.url %}" target="_top">

<head>
  <script src="@webcomponent/@package/@webcomponents/webcomponentsjs/custom-elements-es5-adapter.js"></script>
  <script src="@webcomponent/@package/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script>
  <script type="module" src="/@webcomponent/SimpleGreeting.js"></script>
  <title>LitElement Example</title>
</head>

<body>
  <simple-greeting></simple-greeting>
</body>

</html>